body {
    background-color: #e7b4fc;
}

p {
    font-family: monospace;
}

#special {
    color: #ce1cce;
}

h1, h2, h3 {
    color: #93f823;
}

h4, h5, h6 {
    color: #2b5555;
}

.myClass {
    font-style: italic;
}

p.myClass {
    color: #ff0080;
}

#paragraphId {
    color: #8080ff;
}

#blockId {
    border: 3px solid #235a0c;
    background-color: #d2ffa6;
}

.boldCls {
    font-weight: bold;
}

.itaCls {
    font-style: italic;
}

.upperCls {
    text-transform: uppercase;
}
