table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 1px solid #000000;
    padding: 3px;
    text-align: center;
}

th {
    background-color: #0000ff;
}

td {
    background-color: #00ffff;
}

p {
	border: #green;
	padding: 2px;
}